header.pageHeader {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 3;
  top: 120px;
  background-color: #d99e34;
  background-image: url(../images/asfalt-light.png);
}

header * {
  margin: auto;
}
.image {
  width: 40%;
  
}

header p {
  font-size: 35px;
  font-weight: bold;
  color: white;
}